.wrapper {
	background-color: CadetBlue;
}

.jumbotron {
	background-color: white;
}

.jumbotron .h1, .jumbotron h1 {
    color: CadetBlue;
    font-family: 'Trade Winds', cursive;

}

.panel {
	padding: 10px 15px;
	background-color: lightblue;
}

img {
	max-width: 	80px;
	max-height: 80px;
}