.wrapper {
	background-color: CadetBlue;
	background-image: url("skulls.png")
}

.jumbotron {
	background-color: rgba(255,255,255, 0.6);
	border-bottom: 1px solid gold;	
}

.jumbotron .h1, .jumbotron h1 {
    color: SteelBlue;
    font-family: 'Trade Winds', cursive;
    /*text-shadow: 2px 2px lightblue;*/

}

.panel {
	padding: 10px 15px;
	background-color: rgba(255,255,255, 0.6);
	border: 1px solid gold;	
}

img {
	max-width: 	80px;
	max-height: 80px;
}